* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(rgba(255, 217, 0, 0.848), pink);

}
h1 {
  text-align: center;
  margin-bottom: 50px;
  color: goldenrod;
}
.parent {
  margin: 0 auto;
  width: 1060px;
  height: 550px;
  font-family: sans-serif;
  position: relative;
  margin-top: 50px;
}
button {
  border-style: none;
  width: 55px;
  height: 55px;
  color: black;
  font-weight: 600;
  background: rgba(243, 219, 219, 0.834);
  box-shadow: 0 0 10px;
  font-size: 15px;
  outline: none;
  margin-left: 5px;
}

button:active {
  box-shadow: 1px 1px 2px;
}

.print {
  border-style: none;
  width: 85px;
  height: 55px;
  color: black;
  font-weight: 600;
  background: rgba(243, 219, 219, 0.834);
  box-shadow: 0 0 10px;
  font-size: 15px;
  outline: none;
  margin-left: 5px;
  border-radius: 9px;
}
.backspase{
  width: 130px;
  height: 55px;
  border-radius: 9px;
}
.first{
  padding-left: 13px;
  margin-top: 5px;
}
.second{
  padding-left: 22px;
  margin-top: 5px;
}
.third{
  padding-left: 33px;
  margin-top: 5px;
}
.tab{
  width: 100px;
  height: 55px;
  border-radius: 9px;
}
.next{
  padding-left: 33px;
  margin-top: 5px;
}
.end{
  margin-top: 5px;
  padding-left: 35px;
}
.space{
  width: 339px;
  height: 55px;
  border-radius: 9px;
}
.sign{
  border-radius: 8px;
}
#natija{
  margin-bottom: 20px;
  width: 1050px;
  height: 50px;
  
}
